.env
hash_gen.py
location_history.csv
users.csv

venv/
.venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/
*.egg

instance/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.coverage
.pytest_cache/
htmlcov/

.DS_Store
Thumbs.db